@import url('https://fonts.googleapis.com/css2?family= Poppins :wght@300;400;500;600;700 & display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    border: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #111111;
    --bg-segund-color: #0e0d0d;
    --text-color: #ffffff;
    --main-color: #fbff33;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Navbar */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-list {
    display: flex;
}

.nav-list a {
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.nav-list a:hover {
    color: var(--main-color);
}

.nav-list a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

/* Home */

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(/img/home2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

.home-text h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 7px;
}

.home-text h2 {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.home-text button {
    width: 200px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: transparent;
    color: var(--text-color);
    letter-spacing: 1px;
    border-radius: 20px;
    font-weight: 700;
    margin: 15px 5px;
    position: relative;
    transition: 1.5s;
}

.home-btn button:hover {
    color: var(--main-color);
    border: none;
}

.home-btn button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: rgb(61, 61, 61);
    z-index: -1;
    transition: 1s;
}

.home-btn button:hover:before {
    width: 100%;
}

header.sticky {
    background: var(--bg-color);
    border: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* about Nos */

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    width: 500px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2 {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 10px;
}

.about-text h2 span {
    color: var(--main-color);
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.4;
    color: #ddd;
}

.about-text button {
    display: inline-block;
    padding: 12px 28px;
    margin-top: 10px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.about-text button:hover {
    transform: scale(1.1);
}

/* Meu Serviços*/

.container {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
}

.container h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.price-row {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.price-col {
    padding: 10% 15%;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #fbff33;
}

.price-col p {
    font-size: 22px;
}

.price-col h3 {
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.price-col h3 span {
    font-size: 16px;
}

.price-col ul {
    text-align: left;
    margin: 20px 0;
    color: #ddd;
}

.price-col ul li {
    margin: 15px 0;
    color: #ddd;
}

.price-col button {
    display: inline-block;
    padding: 12px 28px;
    margin: 10px 0;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.price-col button:hover {
    transform: scale(1.1);
}

/* Contato */

.contact h2 {
    font-size: 2.5rem;
    text-align: center;
}

/* Adicionais */

section {
    padding: 160px 10% 120px;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

@media screen and (max-width: 1400px) {
    
    header {
        padding: 12px 2.5%;
        transition: .1s;
    }

    header.sticky {
        padding: 10px 2.5%;
        transition: .1s;
    }

    section {
        padding: 110 3% 60px;
    }

}

@media screen and (max-width: 980px) {
    
    .about {
        grid-template-columns: 1fr;
    }

    .about-img {
        text-align: center;
        order: 2;
    }

    .about-img img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

}